<div class="mycard">
    <div class="firstline">
        <button (click)="abrirModalEditStation()" class="mybutton">
            <img class="myimg" src="/pencil.png" alt="editar" />
        </button>
        <h2 class="title">{{ name_station }}</h2>
        <button (click)="abrirModalDelete()" class="mybutton">
            <img class="myimg" src="/delete.png" alt="excluir" />
        </button>
    </div>

    <div class="secondline">
        <select class="myselect">
            <option value="" disabled selected>Selecione uma opção</option>
            <option *ngFor="let reg of registers" [value]="reg.id">{{ reg.serialNumber }}</option>
        </select>


        <button (click)="abrirModalAdd()" class="add">
            <p class="subtitle">+ ADD</p>
        </button>

        <button (click)="gotoStation()" class="view">VER</button>
    </div>
</div>

<div class="modal-overlay" *ngIf="showModalAdd">
    <div class="modal-content">
        <h2>Deseja adicionar {{ serialnumber }} em {{ name_station }}?</h2>
        <div class="modal_buttons">
            <button class="closebutton" (click)="fecharModalAdd()">Cancelar</button>
            <button class="okbutton" (click)="fecharModalAdd()">Adicionar</button>
        </div>
    </div>
</div>

<div class="modal-overlay" *ngIf="showModalEdit">
    <div class="modal-content">
        <div class="secondline">
            <h2>Alterar nome da estação?</h2>
            <input class="edit_input" type="text" [value]="name_station" />
        </div>
        <div class="modal_buttons">
            <button class="closebutton" (click)="fecharModalEditStation()">
                Cancelar
            </button>
            <button class="okbutton" (click)="fecharModalEditStation()">
                Alterar
            </button>
        </div>
    </div>
</div>

<div class="modal-overlay" *ngIf="showModalDelete">
    <div class="modal-content">
        <h2>Deseja deletar {{ name_station }}?</h2>
        <div class="modal_buttons">
            <button class="closebutton" (click)="fecharModalDelete()">Cancelar</button>
            <button class="okbutton" (click)="fecharModalDelete()">Adicionar</button>
        </div>
    </div>
</div>