.mycard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    gap: 2rem;
    height: 300px;
}

:host {
  display: block;
  width: 300px;
  max-width: 100%;
  margin: 1rem;
}


.firstline {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.title {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0;
}

.mybutton {
    border: none;
    background-color: transparent;

    &:hover {
        cursor: pointer;
    }
}

.myimg {
    width: 25px;
    height: 25px;
}

.myselect {
  width: 80%;
  height: 40px;
  border: 2px solid black;
  border-radius: 8px;
  padding: 0 10px;
  font-size: 1rem;
  background-color: white;
  cursor: pointer;

  &:hover {
    background-color: rgb(240, 240, 240);
  }
}


.secondline {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.subtitle {
    font-weight: bold;
    font-size: 1.1rem;
    margin: 0;
}

.add {
    width: 60%;
    height: 40px;
    border-radius: 10px;
    background-color: #2DD838;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-weight: bold;
    font-size: 1rem;
    color: black;
    margin-bottom: 2rem;

    &:hover {
        background-color: #24a92d;
        cursor: pointer;
    }
}

.view {
    width: 90%;
    height: 50px;
    border-radius: 10px;
    background-color: red;
    border: 2px solid black;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    cursor: pointer;

    &:hover {
        background-color: darkred;
    }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}

.modal_buttons {
    margin-top: 2rem;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.closebutton {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    background-color: #FA5252;

    &:hover {
        cursor: pointer;
        background-color: #c13f3f;
    }
}

.okbutton {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    background-color: #339AF0;

    &:hover {
        cursor: pointer;
        background-color: #2980c8;
    }
}

.edit_input{
  padding: 1rem;
  border-radius: 10px;
  font-size: 1rem;
}
