* {
    margin: 0px;
    padding: 0px;
}

.mymain {
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
    height: 100vh;
    width: 100%;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    padding-top: 7rem;
}

.title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}

.station-table {
    width: 90%;
    max-width: 900px;
    border-collapse: separate;
    border-spacing: 0;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #333;
}

.station-table th,
.station-table td {
    padding: 1rem;
    text-align: left;
}

.station-table thead {
    background-color: #d6d6d6;
}

.station-table tbody tr td{
    border-top: 1px solid #333;
}

.station-table tbody :hover {
    background-color: #e4e4e4;
}

.search-div {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.search-button {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
    background-color: rgb(210, 210, 210);

    &:hover {
        background-color: rgb(180, 180, 180);
        cursor: pointer;
    }
}

.myimg {
    width: 20px;
    height: 20px;
}

.mybutton {
    border: none;
    background-color: transparent;

    &:hover {
        cursor: pointer;
    }
}

.firstline {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.myimg {
    width: 40px;
    height: 40px;
}

.tdimg {
    width: 30px;
    height: 30px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}

.modal_buttons {
    margin-top: 2rem;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.closebutton {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    background-color: #FA5252;

    &:hover {
        cursor: pointer;
        background-color: #c13f3f;
    }
}

.okbutton {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    background-color: #339AF0;

    &:hover {
        cursor: pointer;
        background-color: #2980c8;
    }
}

.edit_input{
  padding: 1rem;
  border-radius: 10px;
  font-size: 1rem;
  border: 2px solid #ccc;
}

.secondline {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 100%;
    gap: 1rem;
}
