<div class="mycard">
    <div class="firstline">
        <button class="mybutton">
            <img class="myimg" src="/pencil.png" alt="editar">
        </button>
        <h2 class="title">{{name_station}}</h2>
        <button class="mybutton">
            <img class="myimg" src="/delete.png" alt="excluir">
        </button>
    </div>

    <div class="secondline">

        <button class="add">
            <p class="subtitle">NEW PART</p>
        </button>

        <button (click)="gotoStation()" class="view">
            VER
        </button>
    </div>
</div>